*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden;
}



.app{
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 10px;
 
}

header{
  background-color: cyan;
  text-align: center;
  padding: 10px;

}
.category{
  margin-top: 12px;
}
.category #select-category{
  width: 200px;
}
.products-display{
  margin-top: 150px;
  
}
.product-list{
  display: flex;
 
  gap:14px;
  padding: 20px;
  height: 800px;
}


.product-list li{
  width: 190px;
  height: 110px;
}
#product-images{
  width: 190px;
  height: 110px;
}
.navigation-buttons{
  width: 25px;
  position: absolute;
  z-index: 1;
  top: 31.5%;
}



#right-button{

  right: 0px;
}

#modal{
  position: absolute;
  z-index: 10;
  min-height: 100vh;
  min-width: 100vw;
  background-color: aliceblue;
  opacity: 0.6;
 
}

.product-overview{
  position: absolute;
  z-index: 12;
  min-height: 200px;
  min-width: 300px;
 
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
  top: 20px;
  left: 35%;
  overflow-y: scroll;
}
.product-header{
  display: flex;
  justify-content: space-between;

}
.product-header button{
  background-color: orange;
}
.product-details{
  display: flex;
  padding: 10px;
  gap: 20px;
}
.image img{
  width: 220px;
  height: 130px;
}